
#include "Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Locations
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)

// Code Signing
CODE_SIGN_IDENTITY = iPhone Developer

// Code Generation
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// LLVM
ENABLE_NS_ASSERTIONS = YES

// Build Options
VALIDATE_PRODUCT = NO

// Deployment
COPY_PHASE_STRIP = NO

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1


// User Defined 
METAL_ENABLE_DEBUG_INFO = YES
