
SKIP_INSTALL = YES
IPHONEOS_DEPLOYMENT_TARGET = 8.0
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

// Versioning
VERSIONING_SYSTEM = apple-generic

// Linking
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// Packaging 
DEFINES_MODULE = YES
INFOPLIST_FILE  = $(SRCROOT)/$(PRODUCT_NAME)/Info.plist

WARNING_CFLAGS = $(inherited) -Wno-missing-variable-declarations