
#include "Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Build Locations
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)

// Code Signing
CODE_SIGN_IDENTITY = iPhone Distribution

// Code Generation
GCC_OPTIMIZATION_LEVEL = s

// LLVM
ENABLE_NS_ASSERTIONS = NO

// Build Options
VALIDATE_PRODUCT = YES

// Deployment
COPY_PHASE_STRIP = YES

// User Defined 
METAL_ENABLE_DEBUG_INFO = NO
